modules = ["nodejs-20", "python-3.12", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Area Business Miner"

[[workflows.workflow]]
name = "Area Business Miner"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export LD_LIBRARY_PATH=\"/nix/store/gpb87pb8s826aggy1s3f352alp40dkj8-nspr-4.36/lib:/nix/store/sisfq9wihyqqjzmrpik9b4xksifw97ha-libxkbcommon-1.8.1/lib:/nix/store/24w3s75aa2lrvvxsybficn8y3zxd27kp-mesa-libgbm-25.1.0/lib:/nix/store/0bbg0gbgw2m3clxrq57q5v2hnzz660bj-systemd-254.10/lib\" && cd /home/runner/workspace/maps_area_scraper && uv run python3 app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["gitFull", "playwright-driver"]
